Repository tgolsson/pants-cargo-porcelain, changes with the labels that .github/labeler.yml gives for each.
All labels: t: documentation, t: tools, t: ci, a: examples, a: plugin

add get-pants script
  .github/get-pants.sh
  .github/workflows/docs.yml
  .github/workflows/main.yml
Labels: t: ci

format
  pants-plugins/BUILD
Labels: none

remove 2.17.0 from testing
  .github/workflows/main.yml
Labels: t: ci

lint
  examples/hello-world/src/main.rs
  examples/test-with-path/inner-path/Cargo.lock
  examples/with-tests/Cargo.toml
  pants-plugins/cargo-porcelain/pants_cargo_porcelain/backends/clippy/goals/lint.py
  pants-plugins/cargo-porcelain/pants_cargo_porcelain/goals/fmt.py
  pants-plugins/cargo-porcelain/pants_cargo_porcelain/goals/test.py
  pants-plugins/cargo-porcelain/pants_cargo_porcelain/register.py
  pants-plugins/cargo-porcelain/pants_cargo_porcelain/target_types.py
  pants-plugins/cargo-porcelain/pants_cargo_porcelain/util_rules/dependency_inference_test.py
  pants-plugins/cargo-porcelain/pants_cargo_porcelain/util_rules/sandbox.py
  pants-plugins/cargo-porcelain/pyproject.toml
  pants.toml
Labels: t: tools, a: examples, a: plugin

remove check
  .github/workflows/main.yml
Labels: t: ci

like this
  .github/workflows/main.yml
Labels: t: ci

syntax
  .github/workflows/main.yml
Labels: t: ci

xx
  .github/workflows/main.yml
Labels: t: ci

.github/labeler.yml:

"t: documentation":
  - '**/README.md'
  - 'README.md'
  - 'docs/*'
  - 'docs/**/*'

"t: tools":
  - '.flake8'
  - 'pants.toml'

"t: ci":
  - '.github/*'
  - '.github/**/*'
  - 'pants.ci.toml'

"a: examples":
  - 'examples/**/*'

"a: plugin":
  - 'pants-plugins/cargo-porcelain/*'
  - 'pants-plugins/mdbook/**/*'
